.portfolio-section {
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.section-header {
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 26px;
    text-decoration: underline;
    justify-content: center;
    text-align: center;
    margin-top: 0px;
}
.ui-card {
    background: radial-gradient(#111 50%, #000 100%);
    margin: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.ui-card img{
    align-items: center;
    background-size: cover;
    border-radius: 15px;
    padding-top: 5px;
    transform: scale(1.3);
    transition: all 0.3s ease-out;
    width: 300px;
    height: 300px;
}
.ui-card:hover img{
    transform: scale(1.1) translateY(-20px);
    opacity: 0.3;
}
.information {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
}
.information h2{
    font-weight: 700;
    font-size: 32px;
    margin: 0 0 20px;
    text-decoration: underline;
    text-transform: capitalize;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out;
}
.information p{
    font-weight: bold;
    padding-bottom: 15px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out;
}
.information button{
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(10, 10, 117);
    color: white;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out;
}
.information button:hover{
    background-color: rgb(0, 0, 43);
}
.ui-card:hover .information h2{
    opacity: 1;
    transform: translateY(0);
}
.ui-card:hover .information p{
    opacity: 1;
    transform: translateY(0);
}
.ui-card:hover .information button{
    opacity: 1;
    transform: translateY(0);
}
.work {
    display: flex;
    flex-direction: column;
}
.more{
    color: gray;
    font-size: 25px;
}
.more:hover{
    color: black;
    transition: all 0.3s ease-out;
}
.ssarrow{
    display: none;
}
.header {
    margin-top: 100px;
}
.content{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.content h2{
    color: gray;
    font-size: 50px;
    letter-spacing: 10px;
}
.content h4{
    padding-top: 7px;
    color: gray;
    font-size: 30px;
    letter-spacing: 2px;
}
.prjtbtn button:nth-child(1) {
    /* margin-right: 40px; */
}
.prjtbtn button{
    background-color: transparent;
    font-size: small;
}
.tags-section{
    margin-top: 30px;
}
@media screen and (max-width: 750px) {

    .content {
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .content h2 {
        color: gray;
        font-size: 50px;
        letter-spacing: normal;
    }
    .content h4 {
        padding-top: 7px;
        color: gray;
        font-size: normal;
        letter-spacing: 0px;
    }
    .portfolio-container {
        width: 100%;
        text-align: center;
    }
    .content {
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        text-align: justify;
    }
    .ps-icon {
        display: none;
    }
    .portfolio-section {
        display: block;
        width: 100%;
        height: 300px;
        overflow-x: scroll;
        white-space: nowrap;
        flex-wrap: nowrap;
        -ms-overflow-style: none;
    }
    .ui-card {
        display: inline-block;
    }
}