 .menubtn {
     position: relative;
     width: 70px;
     height: 70px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     transition: all 0.5s;
 }

 .menubtn span {
     position: absolute;
     width: 40px;
     height: 4px;
     background-color: white;
     border-radius: 4px;
     cursor: pointer;
     transition: all 0.5s;
 }

 .menubtn span:nth-child(1) {
     transform: translateY(-15px);
     width: 25px;
     left: 15px;
 }

 .menubtn span:nth-child(2) {
     transform: translateY(15px);
     width: 15px;
     left: 15px;
 }

 .active span:nth-child(3) {
     transform: translateX(60px);
     transition: all 0.5s;
 }

 .active span:nth-child(1) {
     width: 40px;
     transform: translateY(0px) rotate(45deg);
     transition-delay: 0.125s;
 }

 .active span:nth-child(2) {
     width: 40px;
     transform: translateY(0px) rotate(315deg);
     transition-delay: 0.25s;
 }