 .navigation ul li {
   list-style-type: none;
   margin: 35px 0;
 }
 .navigation ul li a {
   text-decoration: none;
   font-size: 35px;
   color: white;
   padding: 10px;
   letter-spacing: 5px;
   position: relative;
 }
 .navigation ul li a::after{
   content: "";
   height: 3px;
   width: 0%;
   background-color: gray;
   position: absolute;
   bottom: 0%;
   left: 0%;
   transition: width 0.5s;
 }
 .navigation ul li a:hover::after{
   width: 100%;
 }
 .navigation {
   position: absolute;
   width: 100vw;
   height: 100vh;
   background-color: black;
   opacity: 0.9;
   z-index: 2;
   top: -100%;
   left: 0%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.5s;
 }
 .nav-open {
   display: flex;
   top: 0%;
 }
 .nav-close {
   display: none;
   top: -100vh;
 }
 .close-icon{
   width: 25px;
   position: absolute;
   right: 50px;
   top: 50px;
   cursor: pointer;
 }
 .menu-icon {
   width: 30px;
   cursor: pointer;
   position: absolute;
   right: 50px;
   top: 50px;
 }
 .menu-dis {
   display: none;
 }
 .menu-icon-size {
   font-size: 30px;
 }
 