.next{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 3px solid gray;
    transform: rotate(45deg);
    position: fixed;
    top: 50%;
    right: 5%;
    border-left: none;
    border-bottom: none;
    transition: 0.5s
}
.next:hover{
    width: 60px;
    height: 60px;
}
.nextclick {
    width: 50px;
    transform: rotate(0deg);
    height: 5px;
    border-bottom: 3px solid gray;
    border-left: 3px solid gray;
    background-color: gray;
}
