.social-icons ul {
    padding: initial;
}
.social-icons ul li {
    list-style-type: none;
    height: 60px;
    width: 60px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 35px;
}
.social-icons ul li a {
    color: white;
}
.social-icons {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}
.twitter {
    color: #fff;
    background-color: #1da1f2;
    transition: 0.5s;
    transform: translate(-100px, 0)

}
.linkedin {
    color: #fff;
    background-color: #0e76a8;
    transition: 0.5s;
    transform: translate(-100px, 0)
}
.instagram {
    color: #fff;
    background: linear-gradient(purple, orange);
    transition: 0.5s;
    transform: translate(-100px, 0)
}
.github {
    color: whitesmoke;
    background: #3a3b3c;
    transition: 0.5s;
    transform: translate(-100px, 0)
}
.socials ul li:hover {
    width: 80px;
    transition: 0.7s
}
.handlesedit {
    display: block;
    transition: 0.5s;
    transform: translate(30px, 0)
}
.handleseditagain {
    display: block;
    transition: 0.5s;
    transform: translate(0, 0)
}
@media screen and (max-width: 750px) {
    .social-icons ul {
        padding: initial;
        display: flex;
    }

    .social-icons {
        position: absolute;
        top: 100%;
        left: 0%;
        bottom: -30%;
    }
    .twitter {
        color: #fff;
        background-color: #1da1f2;
        transition: 0.5s;
        transform: translate(0, 100px)
    }

    .linkedin {
        color: #fff;
        background-color: #0e76a8;
        transition: 0.5s;
        transform: translate(0, 100px)
    }

    .instagram {
        color: #fff;
        background: linear-gradient(purple, orange);
        transition: 0.5s;
        transform: translate(0, 100px)
    }

    .github {
        color: whitesmoke;
        background: #3a3b3c;
        transition: 0.5s;
        transform: translate(0, 100px)
    }
    .handlesedit {
        display: block;
        transition: 0.5s;
        transform: translate(0, 40px)
    }

    .handleseditagain {
        display: block;
        transition: 0.5s;
        transform: translate(0, 0)
    }
    .socials ul li:hover {
    width: 60px;
    transition: 0.7s;
    transform: translate(0, -10px)
}
}
