.tagbtns {
    padding: 10px;
    border: 1px solid black;
    color: gray;
    text-transform: capitalize;
    border-radius: 2px;
    margin-right: 2px;
    margin: 5px;
}

.tagbtns:hover{
    background-color: black;
    opacity: 0.2;
    cursor: pointer;
    transition: 0.5s;
    color: white;
}
.tags-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tags-section-center {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 750px) {
    .tags-section .modalbtn {
        display: none;
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
        font-size: small;
        color: gray;
    }
    .tags-section-center {
        padding-left: 30px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}
